<ion-card class="ion-padding">
  <ion-text>
    <h4>
      <ion-icon name="car-outline" class="ion-padding-end"></ion-icon>{{ start }} <ion-icon name="arrow-forward-outline">
      </ion-icon> {{ end }}
    </h4>
    <h6>
      <ion-icon name="person-outline" class="ion-padding-end"></ion-icon>{{ name }}
    </h6>
    <h6>
      <ion-icon name="call-outline" class="ion-padding-end"></ion-icon>+(56) {{ phone }}
    </h6>
    <h6>
      <ion-icon name="cash-outline" class="ion-padding-end"></ion-icon>$ {{ price }}
    </h6>
    <h6>
      <ion-icon name="people-outline" class="ion-padding-end"></ion-icon>{{ capacity }} persona/s
    </h6>
  </ion-text>
  <div align="center">
    <ion-button class="edit-button ion-margin" color="primary">
      Confirmar Viaje
    </ion-button>
  </div>
</ion-card>