ion-content {
    --overflow: hidden;

    .sesion-container {
        width: 100%;
        background-color: #3a79db;
        border-bottom-right-radius: 20px;
        height: 150px;
        display: flex;
        align-items: center;
    }
    
    .sesion-container ion-item {
        --background: transparent;
    }
    
    .sesion-container img {
        width: 100px;
    }
    
    .sesion-container ion-label {
        font-size: 1.2rem;
    }

    ion-list {
        height: 100vh;
        
        ion-item {
            padding: 20px 0px; 
            font-size: 1.2rem;
        }
        
        ion-item ion-icon {
            padding-right: 15px;
        }
    }
    
}
