<ion-content overflow="false" fullscreen="true">
  <div class="background-content">
    <ion-header class="ion-no-border">
      <ion-toolbar class="ion-padding">
        <div class="menu-container" slot="start">
          <ion-buttons slot="start">
            <ion-menu-button menuId="main" name='menu-alt-left'></ion-menu-button>
          </ion-buttons>
        </div>
        <div class="welcome-container" slot="end">
          <ion-icon name="person-outline" (click)="presentActionSheet()"></ion-icon>
        </div>
      </ion-toolbar>
    </ion-header>
    <div class="travel-container" lines="" align="center">
      <ion-text>
        <h1 color="light" id="welcome">¡Bienvenid@</h1>
        <h1 color="light" >{{ user?.userName }}!</h1>
      </ion-text>
      <ion-button class="login-button" color="danger" fill="outline" [routerLink]="['/solicitar-viaje']">
        Solicitar viaje
      </ion-button>
      <div class="ion-padding-top">
        <ion-button class="register-button" color="primary" [routerLink]="['/crear-viaje']" fill="outline">
          Crear viaje
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
<app-piepagina></app-piepagina>